<h1>New Room</h1>

<%= form_for :room, url: rooms_path do |f| %>
  <p>
    <%= f.label :x %>
    <%= f.text_field :x %>
  </p>
 
  <p>
    <%= f.label :y %>
    <%= f.text_field :y %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', rooms_path %>
