<script>
function goLeft() {
    window.location.href = "/maze/<%= @dest[:left] %>";
}
function goBackward() {
   <%- unless @dest[:backward].nil? %>
    window.location.href = "/maze/<%= @dest[:backward] %>";
   <%- end %>
}
function goRight() {
    window.location.href = "/maze/<%= @dest[:right] %>";
}
function goForward() {
   <%- unless @dest[:forward].nil? %>
    window.location.href = "/maze/<%= @dest[:forward] %>";
   <%- end %>
}

function keyDown(event) {
    switch (event.key) {
    case 'w':
        goForward();
        break;
    case 'a':
        goLeft();
        break;
    case 's':
        goBackward();
        break;
    case 'd':
        goRight();
        break;
    }
}
addEventListener("keydown", keyDown);
</script>

<h1>Looking <%= @direction_long %> from <%= @room.x %>, <%= @room.y %>.</h1>
<pre>
<%= render(@room, @direction) %>
</pre>
<b>w:</b> forward<br>
<b>a:</b> left<br>
<b>d:</b> right<br>
<b>s:</b> backward<br>
