<h1>Passages</h1>
 
<table>
  <tr>
    <th>source</th>
    <th>destination</th>
    <th>direction</th>
  </tr>
 
  <% @passages.each do |passage| %>
    <tr>
      <td><%= passage.source.x %></td>
      <td><%= passage.destination.x %></td>
      <td><%= passage.direction %></td>
      <td><%= link_to 'Show', passage_path(passage) %></td>
      <td><%= link_to 'Edit', edit_passage_path(passage) %></td>
      <td><%= link_to 'Destroy', passage_path(passage),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New passage', new_passage_path %>
